.header {
    height: 75vh;
    margin: 30px auto;
    background: url('/header_image.jpeg') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    box-shadow: 10px 8px 16px #004d40;
    overflow: hidden;
}

/* #004d40 */

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 40%;
    left: 3vw;
    background-color: transparent;
    animation: fadeIn 3s;
}

.header-content h2 {
    background-color: transparent;
    font-size: max(4.5vw, 22px);
    color: #006400;
}

.header-content p {
    background-color: transparent;
    color: black;
    font-size: 20px;
    max-width: 500px;
}

.header-content button {
    margin-top: 25px;
    background: transparent;
    font-size: 16px;
    color: black;
    border: 2px solid #004d40;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    transition: background 0.3s, color 0.3s, transform 0.3s;
}

.header-content button:hover {
    background: #004d40;
    color: #ffffff;
    transform: scale(1.07);
}